WinService/Common/Web References/svcCrde/ProcessManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSecurityToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hashedPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecurityTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSecurityTokenResult" type="tns:SecurityToken" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SecurityToken">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DigestedHashedPassword" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallProcessManager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallProcessManagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallProcessManagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityToken" type="tns:SecurityToken" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSecurityTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecurityToken" />
  </wsdl:message>
  <wsdl:message name="GetSecurityTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecurityTokenResponse" />
  </wsdl:message>
  <wsdl:message name="CallProcessManagerSoapIn">
    <wsdl:part name="parameters" element="tns:CallProcessManager" />
  </wsdl:message>
  <wsdl:message name="CallProcessManagerSoapOut">
    <wsdl:part name="parameters" element="tns:CallProcessManagerResponse" />
  </wsdl:message>
  <wsdl:message name="CallProcessManagerSecurityToken">
    <wsdl:part name="SecurityToken" element="tns:SecurityToken" />
  </wsdl:message>
  <wsdl:portType name="ProcessManagerSoap">
    <wsdl:operation name="GetSecurityToken">
      <wsdl:input message="tns:GetSecurityTokenSoapIn" />
      <wsdl:output message="tns:GetSecurityTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallProcessManager">
      <wsdl:input message="tns:CallProcessManagerSoapIn" />
      <wsdl:output message="tns:CallProcessManagerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessManagerSoap" type="tns:ProcessManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSecurityToken">
      <soap:operation soapAction="http://tempuri.org/GetSecurityToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallProcessManager">
      <soap:operation soapAction="http://tempuri.org/CallProcessManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CallProcessManagerSecurityToken" part="SecurityToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProcessManagerSoap12" type="tns:ProcessManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSecurityToken">
      <soap12:operation soapAction="http://tempuri.org/GetSecurityToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallProcessManager">
      <soap12:operation soapAction="http://tempuri.org/CallProcessManager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CallProcessManagerSecurityToken" part="SecurityToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessManager">
    <wsdl:port name="ProcessManagerSoap" binding="tns:ProcessManagerSoap">
      <soap:address location="http://10.25.130.28/ProcessManager.WebService.Online.SLIK/ProcessManager.asmx" />
    </wsdl:port>
    <wsdl:port name="ProcessManagerSoap12" binding="tns:ProcessManagerSoap12">
      <soap12:address location="http://10.25.130.28/ProcessManager.WebService.Online.SLIK/ProcessManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>